@font-face {
  font-family: gilroySemibold;
  src: url('assets/fonts/gilroy-semibold.otf') format("opentype");
}

@font-face {
  font-family: gilroyRegular;
  src: url('assets/fonts/gilroy-regular.otf') format("opentype");
}

body {
  font-family: gilroyRegular!important;
}
